<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <div id="app"></div>
    {% load static %}
<script src="{% static "frontend/main.js" %}" ></script>
</body>
</html>